<%- include('partials/header'); -%>

<h1 class="container__title">Home</h1>
<p class="container__p"><%= homeStartingContent %></p>

<% POSTS.forEach((post) => { %>
    <div class="post">
        <h1 class="post__title"> <%= post.title %> </h1>
        <p class="post__date"> <%= post.date %> </p>
        <p class="post__text"><%= `${post.content.substring(0,100)}...`%> <a href='/posts/<%= post.title %>' class="post__link">Read me</a> </p>
    </div>
<% }); %>

<%- include('partials/footer'); -%>